#buttonModalGaleria{
   background-color: white;
   color:#1ABBBF;
   border: none;
   text-decoration: underline;
}

#buttonModalInstructivo{
   background-color: white;
   color:#1ABBBF;
   border: none;
   text-decoration: underline;
  
}