.home-container{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin: 2em 2em;
}

.left-container h3{
    font-family: M PLUS 1;
    font-style: normal;
    font-weight: normal;
    line-height: 70px;

    color: #7E288B;
}
.right-contains{
    display: inline-grid;
}

.right-container{
    background: url(../../Assets/Logo.png);
    background-size: contain;
    
    
}
h2{
    font-family: M PLUS 1;
/* font-style: normal;
font-size: 1.2em;
color: #424242; */
text-align:center;  
font-weight: bold;
}