.header{
    display: flex;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 5px purple;
}

.header__logo{
    height: 40px;
    width: 280px;
    margin-left: 50px;
}   
.header__celular{
    height: 40px;
    width: 40px;
    margin-left: 50px;
}  

.header__logout{
    height: 50px;
    width:200px;
    margin-right: 20px;
    background-color: white;
    border-radius: 30px;
    border: 3px solid #1ABBBF;
    color: aquamarine;
    font-weight: bold;
}
@media (orientation: portrait) {
    .header__logo {
           display: none;
        }
    .header__celular {
           display: block;
        }
    }
    @media screen and (min-width:522px){
        .header__logo {
               display: block;
            }
        .header__celular {
               display: none;
            }
        }
