.footerContainer{
    width: 100%;
    font-size: 16px;
    background-color: #f1f1f1;
}
.footer-After{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-top: 32px;
}

.img-logo{
    width: 240px;
    padding: 20px;
}
.img-socialNetwork{
    width: 48px;
    margin-right: 20px;
    text-align: left;
}
.footer-Before{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color:#5b1a6b;
    margin-left: 20px;
    
    font-size: 16px;
}

.private{
    padding: 20px;
    text-align: right;
    margin-right: 20px;
}